.monaco-editor-wrapper {
  display: none;
  position: fixed;
  left: 100px;
  top: 100px;
  right: 100px;
  bottom: 100px;
  z-index: 10000;
  background-color: white;
  border: 1px solid black;
}

.monaco-editor-wrapper.maximized {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.monaco-editor-toolbar {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.monaco-editor-footer {
  display: flex;
  justify-content: center;
}
